@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bangers';
    src: url('./assets/font/Bangers.ttf');
}

@font-face {
    font-family: 'Homoarak';
    src: url('./assets/font/HOMOARAK.TTF');
}